#container{
	max-width:800px;
	min-height:90%;
	background-color:rgb(162,205,240);
	position:absolute;
	left:0;
	right:0;
	margin:auto;
}

#sitetitle{
	text-align:center;
}

h2{
	margin-left:5px;
	border-left:solid 1.5em green;
	border-bottom:double 3px red;
}

#topBar{
	position:absolute;
	top:0;
	left:0;
	right:0;
}

#languageSW{
	position:absolute;
	right:0;
	margin:auto;
}

#topMenu ul{
	text-align:center;
	padding:0;
}

#topMenu li{
	font-size:1.2em;
	font-weight:bold;
	color:white;
	background-color:navy;
	border:outset 3px white;
	display:inline;
	padding:0 5px 0 5px;
	list-style:none;
	margin:0 5px 0 5px;
}

#topMenu li:hover{
	font-size:1.2em;
	font-weight:bold;
	color:navy;
	background-color:#fff5c0;
	border:outset 3px white;
	display:inline;
	padding:0 5px 0 5px;
	list-style:none;
	margin:0 5px 0 5px;
}

#topMenu li:active{
	font-size:1.2em;
	font-weight:bold;
	color:#fff5c0;
	background-color:#ff0000;
	border:outset 3px white;
	display:inline;
	padding:0 5px 0 5px;
	list-style:none;
	margin:0 5px 0 5px;
}

#topMenu a{
	font-weight:bold;
	color:white;
	color:white;
}

#topMenu a:hover{
	font-weight:bold;
	color:navy;
	color:navy;
}

#topMenu a:active{
	font-weight:bold;
	color:white;
	color:white;
}

#pulldownMenu ul{
	display:none;
}

#pulldownMenu li{
	display:block;
	list-style:none;
	background-color:rgba(0,0,0,0);
	border:none;
	color:navy;
}

#pulldownMenu li:hover{
	display:block;
	list-style:none;
	background-color:rgba(0,0,0,0);
	border:none;
	color:blue;
}

#pulldownMenu li:active{
	display:block;
	list-style:none;
	background-color:rgba(0,0,0,0);
	border:none;
	color:#CC0000;
}

#pulldownMenu a{
	background-color:rgba(0,0,0,0);
	border:none;
	color:navy;
}

#pulldownMenu a:hover{
	background-color:#FFF5C0;
	border:none;
	color:blue;
}

#pulldownMenu a:active{
	background-color:#FFF5C0;
	border:none;
	color:#CC0000;
}

#gameStatus{
	font-weight:bold;
	background-color:#fff5c0;
	text-align:center;
}

#topPageUpdatedAt{
	text-align:right;
	font-size:0.8em;
}

#gameIPAddressContainer{height:110px;}

#gameIPAddress{
	background-color:#000000;
	color:yellow;
	font-weight:bold;
	width:350px;
	position:absolute;
	left:0;
	right:0;
	padding-left:10px;
	margin:30px auto 30px auto;
}

#gameIPv6Address{
	color:#cc0000;
	text-align:center;
}

#exampleSettings P{
	margin:auto 30px auto 30px;
	text-indent:1em;
}
